body {
    font-family:comic sans-serif, Helvetica, sans-serif;
    font-weight: bolder;
    
    line-height: 1.5;
    margin: 20px;
    background-color: #ffffff;
  }

  #h1 {
    background-image: url(https://www.appluscertification.com/dam/jcr:996e66b4-8cca-48b3-b534-ba316fe92682/Header%20medioambiente.jpg);
    text-align: center;
   justify-content: center;
   color: rgb(203, 222, 248);
    height: 300px;
  }

  p {
    color: #666666;
    margin-bottom: 10px;
  }

  .highlight {
    font-weight: bold;
  }

  ul {
    list-style-type: disc;
    margin-left: 20px;
    margin-bottom: 10px;
  }
  #main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

  
  #sub{
    display: flex;
   
  }
  li{
    padding: 5px;
    
  }
  #a{
    color: rgb(2, 238, 128);
    display: flex;
   justify-content: space-evenly
  }
  a{
    text-decoration: none
    (80, 255, 95);
    color: rgb(11, 255, 214);
    font-size: 1.5rem;
    justify-content: center;
  }
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .cuadro {
    text-align: center;
  }
  
  .point {
    margin-bottom: 20px;
  }
  
  .point h3 {
    text-align: left;
  }
  
  .point p {
    text-align: justify;
  }
  .container{
    padding-top: 200px;
  }
  
 